In [8]:
import pandas as pd
import seaborn as sns
import networkprocessing as np

Excel file is manually created based off the ratio on WorldBank food import data (per thousand USD)

In [9]:
df = pd.read_excel('2000_ratio.xlsx')

In [10]:
df

,To,From,Nearest,Exact Ratio,Rounded Ratio to 0.5,Estimate Ratio
0,Singapore,United States,342,4.329114,4.5,9
1,Singapore,Malaysia,342,4.329114,4.5,9
2,Singapore,France,291,3.683544,3.5,7
3,Singapore,United Kingdom,265,3.354430,3.5,7
4,Singapore,China,120,1.518987,1.5,3
5,United States,Canada,4351,55.075949,55.0,110
6,United States,Mexico,2102,26.607595,26.5,53
7,United States,France,1855,23.481013,23.5,47
8,United States,United Kingdom,1219,15.430380,15.5,31
9,United States,Thailand,1084,13.721519,13.5,27
10,Malaysia,Australia,239,3.025316,3.0,6
11,Malaysia,United States,180,2.278481,2.5,5
12,Malaysia,Indonesia,114,1.443038,1.5,3
13,Malaysia,Thailand,110,1.392405,1.5,3
14,Malaysia,Argentina,79,1.000000,1.0,2
15,France,Netherlands,1820,23.037975,23.0,46
16,France,Germany,1680,21.265823,21.5,43
17,France,Belgium,1458,18.455696,18.5,37
18,France,Italy,904,11.443038,11.5,23
19,France,United Kingdom,869,11.000000,11.0,22
20,United Kingdom,France,2197,27.810127,28.0,56
21,United Kingdom,Ireland,1348,17.063291,17.0,34
22,United Kingdom,Netherlands,1342,16.987342,17.0,34
23,United Kingdom,Germany,1198,15.164557,15.0,30
24,United Kingdom,Italy,1111,14.063291,14.0,28
25,China,Peru,395,5.000000,5.0,10
26,China,United States,247,3.126582,3.0,6
27,China,Japan,105,1.329114,1.5,3
28,China,Zimbabwe,99,1.253165,1.5,3
29,China,Brazil,85,1.075949,1.0,2

In [11]:
df2 = pd.read_excel('2020_ratio.xlsx')

In [12]:
df2

,To,From,Nearest,Exact Ratio,Rounded Ratio to 0.5,Estimate Ratio
0,Singapore,France,1164,2.414938,2.5,5
1,Singapore,Malaysia,919,1.906639,2.0,4
2,Singapore,China,632,1.311203,1.5,3
3,Singapore,United Kingdom,624,1.294606,1.5,3
4,Singapore,Indonesia,571,1.184647,1.0,2
5,France,Belgium,4930,10.228216,10.0,20
6,France,Germany,4428,9.186722,9.0,18
7,France,Netherlands,3764,7.809129,8.0,16
8,France,Italy,2974,6.170124,6.0,12
9,France,Spain,2923,6.064315,6.0,12
10,Malaysia,Thailand,651,1.350622,1.5,3
11,Malaysia,Indonesia,646,1.340249,1.5,3
12,Malaysia,China,581,1.205394,1.0,2
13,Malaysia,Argentina,503,1.043568,1.0,2
14,Malaysia,Brazil,482,1.000000,1.0,2
15,China,Netherlands,2323,4.819502,5.0,10
16,China,France,2306,4.784232,5.0,10
17,China,United States,2184,4.531120,4.5,9
18,China,Australia,2103,4.363071,4.5,9
19,China,New Zealand,1723,3.574689,3.5,7
20,United Kingdom,France,4119,8.545643,8.5,17
21,United Kingdom,Germany,3731,7.740664,7.5,15
22,United Kingdom,Netherlands,3646,7.564315,7.5,15
23,United Kingdom,Italy,2941,6.101660,6.0,12
24,United Kingdom,Ireland,2886,5.987552,6.0,12
25,Indonesia,Brazil,1643,3.408714,3.5,7
26,Indonesia,Thailand,975,2.022822,2.0,4
27,Indonesia,Argentina,901,1.869295,2.0,4
28,Indonesia,United States,819,1.699170,1.5,3
29,Indonesia,China,732,1.518672,1.5,3

Make to create 2 text files in a folder (I used "dataNew" folder) to store info for networkprocessing.py (2000.txt and 2020.txt)

In [13]:
x = 0
with open('dataNew/2000.txt', 'w') as f:
    for index, row in df.iterrows():
        while x < int(row.loc['Estimate Ratio']):
            f.write(row.loc['To'] + "," +row.loc['From']+"\n")
            x += 1
        x = 0

In [14]:
x = 0
with open('dataNew/2020.txt', 'w') as f:
    for index, row in df2.iterrows():
        while x < int(row.loc['Estimate Ratio']):
            f.write(row.loc['To'] + "," +row.loc['From']+"\n")
            x += 1
        x = 0

In [15]:
np.make_network("dataNew")

Processing dataNew\2000.txt
Processing dataNew\2020.txt

In [18]:
nodeinfo = pd.read_excel("dataNew_analysis/nodeInfo.xlsx",index_col=0)
nodeinfo

,label,degree,weighted_degree,betweenness,normalized_betweenness,eccentricity,closeness,network
0,Singapore,5,35,41.500000,0.218421,2,0.571429,2000
1,United States,8,288,91.000000,0.478947,2,0.625000,2000
2,Malaysia,6,28,54.500000,0.286842,3,0.465116,2000
3,France,7,281,41.500000,0.218421,3,0.500000,2000
4,United Kingdom,7,242,41.500000,0.218421,3,0.500000,2000
5,China,6,27,70.000000,0.368421,3,0.476190,2000
6,Canada,1,110,0.000000,0.000000,3,0.392157,2000
7,Mexico,1,53,0.000000,0.000000,3,0.392157,2000
8,Thailand,2,30,0.000000,0.000000,3,0.425532,2000
9,Australia,1,6,0.000000,0.000000,4,0.322581,2000
10,Indonesia,1,3,0.000000,0.000000,4,0.322581,2000
11,Argentina,1,2,0.000000,0.000000,4,0.322581,2000
12,Netherlands,2,80,0.000000,0.000000,4,0.350877,2000
13,Germany,2,73,0.000000,0.000000,4,0.350877,2000
14,Belgium,1,37,0.000000,0.000000,4,0.338983,2000
15,Italy,2,51,0.000000,0.000000,4,0.350877,2000
16,Ireland,1,34,0.000000,0.000000,4,0.338983,2000
17,Peru,1,10,0.000000,0.000000,4,0.327869,2000
18,Japan,1,3,0.000000,0.000000,4,0.327869,2000
19,Zimbabwe,1,3,0.000000,0.000000,4,0.327869,2000
20,Brazil,1,2,0.000000,0.000000,4,0.327869,2000
21,Singapore,5,17,27.166667,0.199755,2,0.586207,2020
22,France,8,110,51.000000,0.375000,3,0.586207,2020
23,Malaysia,6,16,19.500000,0.143382,3,0.515152,2020
24,China,8,53,55.666667,0.409314,3,0.629630,2020
25,United Kingdom,6,74,22.166667,0.162990,3,0.500000,2020
26,Indonesia,7,26,24.000000,0.176471,3,0.531250,2020
27,Belgium,1,20,0.000000,0.000000,4,0.377778,2020
28,Germany,2,33,0.000000,0.000000,4,0.395349,2020
29,Netherlands,3,41,2.500000,0.018382,3,0.500000,2020
30,Italy,2,24,0.000000,0.000000,4,0.395349,2020
31,Spain,1,12,0.000000,0.000000,4,0.377778,2020
32,Thailand,2,7,0.000000,0.000000,4,0.361702,2020
33,Argentina,2,6,0.000000,0.000000,4,0.361702,2020
34,Brazil,2,9,0.000000,0.000000,4,0.361702,2020
35,United States,2,12,0.000000,0.000000,4,0.435897,2020
36,Australia,1,9,0.000000,0.000000,4,0.395349,2020
37,New Zealand,1,7,0.000000,0.000000,4,0.395349,2020
38,Ireland,1,12,0.000000,0.000000,4,0.340000,2020

y2000 = nodeinfo["network"] == "2000"
y2020 = nodeinfo["network"] == "2020"

nodeinfo.loc["y2020"]

In [28]:
nwinfo = pd.read_excel("dataNew_analysis/networkInfo.xlsx",index_col=0)
nwinfo

,nodes,edges,avg path length,avg degree,avg weighted degree,diameter,radius,density
network_id,,,,,,,,
2000,21,29,2.619048,2.761905,66.571429,4,2,0.138095
2020,18,30,2.320261,3.333333,27.111111,4,2,0.196078